<h1>My CRM</h1>

<h3>
  <a href="/companies/new">+ New Company</a>
</h3>

<ul>
  <% for company in @companies %>
    <li>
      <%= company["name"] %>
      <a href="/companies/<%= company["id"] %>">Details</a>
    </li>
  <% end %>
</ul>
